.main-container {
  position: relative;
  height: 100%;
}

.haiku-btn {
  position: absolute;
  right: 30px;
  bottom: 50px;
}

.bubble {
  position: absolute;
  border: 1px solid #000;
  border-radius: 100%;
  bottom: 0px;
  right: 35px;
  padding: 50px;
}

.todo-container {
  background-color: #EFEFEF;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,.3);
  padding: 15px;
  position: absolute;
  bottom: 110px;
  right: 20px;
}

.todo-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todo-container ul li {
  border-bottom: 1px solid #000;
  padding: 5px;
}

.todo-container input {
  border: 0;
  background-color: inherit;
}

input[type="text"]:focus {
  outline: none;
}

input[type="text"]:focus-visible {
  outline: none;
}

button {
  margin: 5px;
}

.done {
  text-decoration: line-through;
}

::ng-deep mat-checkbox-inner-container:nth-child(even) {
  background-color: red;
}

::ng-deep mat-checkbox-inner-container :nth-child(odd) {
  background-color: yellow;
}